<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script src="test.js" type="text/javascript"></script>
</head>
<body>
	<header><h2>Echo Grader</h2></header>
	<div class="container">
		<section class="video-player">
			<div>
				<video width="800" height="592" autoplay muted controls loop>
					<source src="{{ url_for('static', filename='001-003-4C.mp4')}}" type="">
				</video>
			</div>		
		</section>
		<!-- Metrics for the user to input -->
		<section>
			<form method="POST", action="">
				<!-- FOCUS Views -->
				<div>
					<h3>{{ form.focus_views.label(class="grader-rb-label") }}</h3>
					{{ form.focus_views(class="grader-rb") }}
	 				{{ form.focus_view_other.label() }}
					{{ form.focus_view_other }}					
				</div>
				<!-- Image Quality Assessment -->
				<div>
					<h3>{{ form.image_quality.label(class="grader-rb-label") }}</h3>
					{{ form.image_quality(class="grader-rb") }}
				</div>
				<!-- Pathology -->
				<div>
					<h3 class="grader-rb-label">Pathology</h3>
					{{ form.normal_pathology }} {{ form.normal_pathology.label() }}
				<div>
					{{ form.lv_dysfunc_pathology }} {{ form.lv_dysfunc_pathology.label() }}					
				</div>
				<div>
					{{ form.rv_dysfunc_pathology }} {{ form.rv_dysfunc_pathology.label() }}
				</div>
				<div>
					{{ form.effusion_pathology }} {{ form.effusion_pathology.label() }}
				</div>
					{{ form.mass_pathology }} {{ form.mass_pathology.label() }}
				</div>
				<div>
					{{ form.other_pathology.label() }} {{ form.other_pathology }}
				</div>
			</form>
		</section>
		<section>
			<form method="POST", action="">
				<!-- Miscellanous Category Ratings -->
				<div>
					<h3>{{ form.wall_motion.label(class="grader-rb-label") }}</h3>
					{% for subfield in form.wall_motion %}
					<tr>
						<td>{{ subfield }}</td>
						<td>{{ subfield.label }}</td>
					</tr>
					{% endfor %}
				</div>		
				<div>
					<h3>{{ form.orientation.label(class="grader-rb-label") }}</h3>
					{% for subfield in form.orientation %}
					<tr>
						<td>{{ subfield }}</td>
						<td>{{ subfield.label }}</td>
					</tr>
					{% endfor %}
				</div>
				<div>
					<h3>{{ form.ecg.label(class="grader-rb-label") }}</h3>
					{% for subfield in form.ecg %}
					<tr>
						<td>{{ subfield }}</td>
						<td>{{ subfield.label }}</td>
					</tr>
					{% endfor %}
				</div>		
				<div>
					<h3>{{ form.color_doppler.label(class="grader-rb-label") }}</h3>
					{% for subfield in form.color_doppler %}
					<tr>
						<td>{{ subfield }}</td>
						<td>{{ subfield.label }}</td>
					</tr>
					{% endfor %}
				</div>		
				<div>
					<h3>{{ form.depth.label(class="grader-rb-label") }}</h3>
					{% for subfield in form.depth %}
					<tr>
						<td>{{ subfield }}</td>
						<td>{{ subfield.label }}</td>
					</tr>
					{% endfor %}
				</div>		
				<div>
					<h3>{{ form.focus_level.label(class="grader-rb-label") }}</h3>
					{% for subfield in form.focus_level %}
					<tr>
						<td>{{ subfield }}</td>
						<td>{{ subfield.label }}</td>
					</tr>
					{% endfor %}
				</div>	
			</form>	
		</section>
		<section>
			<div>

			</div>
		</section>
	</div>
		<!-- Video player navigation buttons -->
		<div id="navigation-buttons">
			<form action="{{ url_for('login') }}">
				<button type="submit" id="home-button">Home</button>
				<button type="button" onclick="foo('hi');">Previous</button>			
				<button type="button" onclick="forEachLoop();">Next</button>
			</form>
		</div>
	</body>
</html>