<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<video id="bg-vid" autoplay loop muted>
		<source src="{{ url_for('static', filename='001-003-4C.mp4') }}" type="video/mp4">
		Your browser does not support HTML5 video
	</video>
	<div id=login-content>
		<h2 id=login-header>APIL Echo Grader</h2>
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div>
				<!-- this looks like shit, but it's working -->
				{{ form.username.label() }}

				{% if form.username.errors %}
					{% for error in form.username.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				{% endif %}
				{{ form.username() }}
			</div>
			<div>
				{{ form.password.label() }}
				{{ form.password }}
			</div>
			<div>
				{{ form.confirm_password.label() }}
				{{ form.confirm_password }}
			</div>
			<div>
				{{ form.submit() }}
			</div>
		</form>
	</div>
</body>
</html>