body {
	background-color:#000000;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

header {
	color: #509da5;
	text-align: right;
	padding-right: 80px;
}

.container {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
}

.grader-rb {
	text-align: left;
	list-style: none;
	padding-left: 0px;
}

.btn {
	background-color: #509da5;
	border: none;
	color:#ffffff;
	width: 100px;
	height: 30px;
	font-size: 16px;
	border-radius: 2px;
	margin-top: 20px;
}

.grader-rb-label{
	color: #509da5;
}

#bg-vid {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
}

#login-content {
	position:fixed;
	bottom: 50%;
	width: 100%;
	padding: 20px;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
}

#login-content label {
	display: inline-block;
	width: 80px;
	text-align: left;
}

#login-content input {
	display: inline-block;
}

#login-content button {
	width: 250px;
	margin-top: 25px;
}
