body{
	background-color:#000000;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

header{
	color: #509da5;
	text-align: right;
	padding-right: 200px;
}

button{
	background-color: #509da5;
	border: none;
	color:#ffffff;
	width: 100px;
	height: 30px;
	font-size: 16px;
	border-radius: 2px;
}

button:hover{
	background-color: #000;
	cursor: pointer;
	opacity: 0.6;
	transition: 0.25s;
}

.container{
	width:90%;
	margin:auto;
	text-align: left;
	margin-top: 50px;
	margin-left: 5px;
}

.container h3{
	color: #509da5;
}

.video-player{
	float: left;
	width: 60%;
}

#user-grades{
	float: left;
	width: 20%;
}

#misc-ratings{
	float: left;
	width: 20%;
}

#positive-misc-option{
	padding-right: 50px;
}

#navigation-buttons{
	clear: both;
	float: right;
}

#bg-vid{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
}

#login-content{
	position:fixed;
	bottom: 50%;
	width: 100%;
	padding: 20px;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
}